
html    
{
    text-align: center; 
    margin: 0 auto;
}


.content {
    display: none;
}

#showFiles {
    display: block;
}

.dropzone 
{
    width: 500px;
    margin: 0 auto;
}

#valuetext, #valuetext:focus{
    border: none;
    width: 50px;
    text-align: center;
    
    
}

/* 
.slidecontainer
{
    padding-left: 50px;
} */


#container 
{
    margin: 0 auto;
}

#wordcloud_canvas,  #dropInput
{
    margin: 0 auto;
}

#wordcloud_container
{
    visibility: hidden;
}